name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - 'release-*'  # 触发 release 分支

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 必须 fetch 全部 commit 才能 merge

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ github.ref_name == 'main' && 'coderuner/canary-demo:latest' || format('coderuner/canary-demo:{0}', github.ref_name) }}

  merge_release_to_main:
    needs: build
    if: startsWith(github.ref, 'refs/heads/release-')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Merge release branch
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git fetch origin ${{ github.ref_name }}  # 确保远程分支存在
          git merge --no-ff origin/${{ github.ref_name }}
          git push origin main
