name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - 'release-*'  # 触发 release 分支

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 必须 fetch 全部 commit 才能 merge

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ github.ref_name == 'main' && 'coderuner/canary-demo:latest' || format('coderuner/canary-demo:{0}', github.ref_name) }}

  create_pr_to_main:
    needs: build
    if: startsWith(github.ref, 'refs/heads/release-')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      # 安装 GitHub CLI
      - name: Install GitHub CLI
        run: sudo apt update && sudo apt install -y gh

      - name: Create Pull Request to main
        run: |
          gh auth setup-git
          gh pr create \
            --title "Merge ${{ github.ref_name }} into main" \
            --body "Automated PR from workflow: release branch ${{ github.ref_name }}" \
            --base main \
            --head ${{ github.ref_name }} \
            --assignee @me
